.cart-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.cart-items-card {  
    background-color: #f3f3f3;
    width: 605px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
}

.cart-price-card {  
    background-color: #f3f3f3;
    width: 378px;
    height: auto;
    border-radius: 6px;
    margin-left: 25px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

.cart-items-ctr {
    background-color: white;
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.img-ctr > img {
    width: 10rem;
    margin-bottom: 1rem;
    margin-right: 20px;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .cart-toggle {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cart-toggle > button {
    background: linear-gradient(#fff,#f9f9f9);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    padding: 1px;
  }

  .qty-ctr {
    width: 60px;
    border: 1px solid #c2c2c2;
    height: 30px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qty-ctr > input {
    width: 60px;
    border: 1px solid #c2c2c2;
    height: 30px;
    margin: 0px 10px;
  }

  .empty-cart {
    text-align: center;
    margin: auto;
    color: #7b7676;
    font-size: 24px;
    font-weight: 600;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.cart-price-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.price-header {
    margin: 10px;
    color: gray;
}

.price-title-ctr {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.discount-title-ctr {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.delivery-title-ctr {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.final-price-ctr {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 10px 10px;
}

p {
    color: #212121;
}

.order-btn-ctr {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.order-btn {
    width: 15rem;
    height: 50px;
    background-color: #7b7676;
    color: white;
    margin: 16px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}