nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #f3f3f3;
    align-items: center;
    padding: 20px;
    z-index: 999;
    /* margin-left: 2rem; */
    background-color: #535353;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-ctr {
    color: white;
    cursor: pointer;
}

input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}

.profile-container {
    width: 3.8rem;
    height: 3.5rem;
    /* background-color: rgb(65, 198, 65); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}

.cart-ctr {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.cart-qty {
    background-color: #ff6161;
    color: #f0f0f0;
    font-size: 12px;
    border-radius: 7px;
    position: absolute;
    left: 11px;
    top: 7px;
    width: 18px;
    height: 18px;
    line-height: 16px;
    font-weight: 400;
    border: 1px solid #fff;
    text-align: center;
}

.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
}